label,
input,
textarea {
    font-size: 2rem;
    resize: none;
}

input,
textarea {
    padding: 5px 0px;
    border: none;
    border-bottom: 2px solid #6d435a;
    background: #e8edea;
}

label {
    margin: 5px 0px;
    font-family: 'Montserrat', 'sans-serif';
}

.contactContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 0px;
}

.nameAndEmailContainer {
    display: flex;
}

.nameAndEmailContainer > * {
    flex: 1 0 auto;
}

@media (max-width: 550px) {
    .nameAndEmailContainer {
        flex-direction: column;
    }
    .inputContainer {
        margin: 20px 0px;
    }
    .buttonContainer {
        text-align: center;
    }
}
