label,
input,
textarea {
    font-size: 2rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.nameAndEmailContainer {
    display: flex;
}

.nameAndEmailContainer > * {
    flex: 1 0 auto;
}
