.aboutHeadshot {
    max-width: 350px;
    float: right;
    padding: 0px 0px 20px 20px;
}
.aboutHeadshot img {
    transition: 0.3s all;
}

@media (max-width: 900px) {
    .aboutHeadshot {
        float: none;
        margin: 0 auto;
        padding: 0px;
    }
    .aboutHeadshot img {
        border-radius: 50%;
        /* margin: 30px 0px; */
    }
}
