.headshotContainer {
    max-width: 350px;
    float: right;
    padding: 0px 0px 20px 20px;
}
.headshot {
    transition: 0.3s all;
}

@media (max-width: 750px) {
    .headshotContainer {
        float: none;
        margin: 0 auto;
        padding: 0px;
    }
    .headshot {
        border-radius: 50%;
    }
}
