.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
}

.project:first-child {
    margin-top: 50px;
}

.project:nth-child(2n) {
    text-align: right;
}

.projectImage {
    flex: 1 0 50%;
    min-width: 400px;
}

.projectLinks {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 850px) {
    .project {
        flex-direction: column;
    }
    .project:nth-child(2n) {
        text-align: left;
    }
    .projectImage {
        max-width: 600px;
    }
}
